icon-hover = #FFA114
blanco = #FAFAFA
blanco-menu = #FFFFFF
purple = #BF4E79
yellow = #F0C14F
naranjo = #FF553C
verde = #22B66A
celeste = #2B99CA
body 
	background blanco-menu
.container
	h2
		color  #F28D2F
		span
			font-size 20px
.login-contenedor
	border 1px solid #e5e5e5
	border-radius 5px
	margin-top 80px
	margin-bottom 20px
	-webkit-box-shadow: 4px 3px 5px 0px rgba(224,224,224,1);
	-moz-box-shadow: 4px 3px 5px 0px rgba(224,224,224,1);
	box-shadow: 4px 3px 5px 0px rgba(224,224,224,1);
	.img-login
		margin-bottom 15px

.navbar-brand>img
	height 100%
	padding 5px
	width auto
	
.menu-principal 
	margin-bottom 0px
	background blanco-menu
	.navbar-brand
		height 80px
		padding 0px
	.nav >li >a
		padding-top 30px
		padding-bottom 30px
	ul
		.activo
			background blanco
	.navbar-toggle
		padding 10px
		margin 25px 15px 25px 0
.cuerpo
	h4
		border-radius 0px 40px 40px 0px
		color white
		padding 10px
		margin-top 0
		width 43%
	.pad
		padding 18px 18px
	.gly-color
		color  #ffa114
	.bg-white
		background blanco
	.bg-submenu
		background blanco
		border-radius 10px
		margin-top 3px
	.btn-purple
		background purple
		color blanco
		&:focus
			outline none
	.btn-yellow
		background yellow
		color blanco
		&:focus
			outline none
	.btn-light-blue
		background celeste
		color blanco
		&:focus
			outline none
	.archivo
		color #7a7a7a
		max-width 300px
		overflow hidden
		font-size 12px
	.seccion
		background #ffffff
		padding-bottom 50px
		border-radius 5px
		box-shadow 5px 5px 5px #bababa
		margin-top 20px
	.title_one
		background #BF4E79
	.title_two
		background yellow
	.title_three
		background naranjo
	.title_four
		background verde
	.title_five
		background celeste
	.title_six
		background #DC5043
.link-icon
	span
		padding 0px 5px
	&:hover
		color icon-hover