icon-hover = #FFA114

.container
	h2
		color  #F28D2F
		span
			font-size 20px

.login-contenedor
	border 1px solid #e5e5e5
	border-radius 5px
	margin-top 80px
	margin-bottom 20px
	-webkit-box-shadow: 4px 3px 5px 0px rgba(224,224,224,1);
	-moz-box-shadow: 4px 3px 5px 0px rgba(224,224,224,1);
	box-shadow: 4px 3px 5px 0px rgba(224,224,224,1);
	.img-login
		margin-bottom 15px

.navbar-brand
	padding 0px
.navbar-brand>img
	height 100%
	padding 5px
	width auto

.menu-principal 
	.navbar-brand
		height 80px

.menu-principal 
	.nav >li >a
		padding-top 30px
		padding-bottom 30px
	ul
		.activo
			background #f4f4f4
	
.menu-principal 
	margin-bottom 0px
	background #FAFAFA
	.navbar-toggle
		padding 10px
		margin 25px 15px 25px 0
.cuerpo
	background white
	h4
		padding-left 18px
	.pad
		padding 18px 18px
	.gly-color
		color  #ffa114
	.bg-white
		background #red
	.bg-submenu
		background #FAFAFA
		border-radius 10px
		margin-top 3px
	.archivo
		color white
		max-width 300px
		overflow hidden
.link-icon
	span
		padding 0px 5px
	&:hover
		color icon-hover